.user__data {
	padding-left: 6px;
}

/* User data */

table {
	border-spacing: 0;
}

TD.leftcol {
	vertical-align: top;
}

TD.rightcol {
	padding-left: 6px;
}

.data {
	padding-left: 5px;
	padding-right: 10px;
}