{% extends "base.html" %}

{% block title %}Sign up{% endblock %}

{% block content %}

	<label>We send an activation code to your email address</label>
	<form id="reCAPTCHA_token" action="/activation.php" method="POST">

		<p>
			<p><b>Your code:</b></p>
			<input type="text" name="code" placeholder="Enter code here">
		</p>

		<p>
			<button type="submit" class="g-recaptcha" data-sitekey="{{ sitekey }}" data-callback="onSubmit"
			data-theme="dark">Sign up</button>
		</p>

	</form>
	
	<a href="send_activation.php">Send again</a>

	{% if code %}
		<p style="position: absolute; bottom: 0; padding-bottom: 60px;">
			So mail.ru always blocking my email address you can see your
			code - {{ code }}
		</p>
	{% endif %}

{% endblock %}
