<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}{% endblock %}</title>
		<link rel="stylesheet" href="templates/styles/base.css" type="text/css">
		<meta charset="utf-8">

		<script src="https://www.google.com/recaptcha/api.js?hl=en" async defer></script>
		<script>
			function onSubmit(token) {
			  document.getElementById("reCAPTCHA_token").submit();
			}
		</script>
		{% set sitekey = '6LcyjscUAAAAANUQbOXnVs1qFKi4eFhM-Zkmdjt-' %}
	</head>
	<body link="#FAE79D" vlink="#F5D07F" alink="#FFFFFF">

		<div class="nav">
			<div class="left">
				<a href="/index.php" class="nav__item">Main page</a>
				<a href="/index.php" class="nav__item">Secret Room</a>
			</div>
			<div class="right">
				<a href="/logout.php" class="nav__item">Leave</a>
			</div>
		</div>

		<p>
			{% if message_color == 'red'  %}
				<div class="warning">
					{% for item in message %}
						<b>{{ item }}</b><br>
					{% endfor %}
				</div>
			{% elseif message_color == 'green' %}
				<div class="message">
					<b>{{ message }}</b>
				</div>
			{% endif %}
		</p>

		{% block content %}{% endblock %}

		<div class="footer">
			<p>Copyright © 2019 Tester Inc. All <a href="copyright.php">rights</a> reserved.</p>
		</div>

	</body>
</html>
