{% extends "base.html" %}

{% block title %}Change password{% endblock %}

{% block content %}

	<form id="reCAPTCHA_token" action="/change-password.php" method="POST">
		
		<input type="hidden" name="csrf_token" value="{{ csrf_token }}">
		<p>
			<p><b>Old password:</b></p>
			<input type="password" name="password" required maxlength="64">
		</p>

		<p>
			<p><b>New Password:</b></p>
			<input type="password" name="password_2" required maxlength="64">
		</p>

		<p>
			<button type="submit" class="g-recaptcha" data-sitekey="{{ sitekey }}" data-callback="onSubmit"
			data-theme="dark">Change</button>
		</p>

	</form>
	
	<a href="recovery.php" style="font-size: 15px;"><i>I don't remember my password</i></a>

{% endblock %}