{% extends "base.html" %}

{% block title %}Entry{% endblock %}

{% block content %}

	<form id="reCAPTCHA_token" action="/login.php" method="POST">
		
		<input type="hidden" name="csrf_token" value="{{ csrf_token }}">
		<p>
			<p><b>Login or email:</b></p>
			<input type="text" name="login" required maxlength="129">
		</p>

		<p>
			<p><b>Password:</b></p>
			<input type="password" name="password" required maxlength="64">
		</p>

		<p>
			<button type="submit" class="g-recaptcha" data-sitekey="{{ sitekey }}" data-callback="onSubmit"
			data-theme="dark">Entry</button>
		</p>

	</form>
	
	<a href="recovery.php" style="font-size: 15px;"><i>I don't remember my password</i></a>

{% endblock %}
